.header {
    background-image: linear-gradient(rgba(25, 25, 26, 0.8), rgba(25, 25,26,0.8)), url(../../assets/header.jpg);
    height: 100vh;
}
.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
    padding-top: 10vh;

}
.headerTitleLg {
    margin-top: 5vh;
    font-size: 100px;
    color: #eee;
    font-size: 3.25rem;
    font-style: normal;
    line-height: 1.2;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase !important;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 700;
    color: #ffffff;
    padding-bottom: 1rem !important;
    box-sizing: border-box;
}

.headerTitleSm {
    font-size: 20px;
    color: #ffffff;
     padding-bottom: 1rem !important;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    text-transform: uppercase !important;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.3;
    word-break: break-word;
    word-wrap: break-word;
}

.headerImg img{
    width: 100%;
   height: 80%;
    object-fit: cover;
    background-size: cover;
}
.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
   
}
.btn_container button {
    width: 18rem;
    height: 4rem;
    border-radius: 10rem;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    margin: 0.5rem;
}

.btn_container button:hover {
    background: rgb(83, 22, 213);
    color: black;
}
.btn-1{
    color: #7b68ee;
}
.btn-2{
    background: #7b68ee !important;
    color: #ffffff;
}
.icon{
    size: 12x;
}